#cloud-config
packages:
- xfsprogs
- https://copr-be.cloud.fedoraproject.org/results/jdetiber/origin/epel-7-x86_64/docker-storage-setup-0.0.4-2.fc22/d

mounts:
- [ xvdb ]

write_files:
- content: |
    DEVS=/dev/xvdb
    VG=docker_vg
  path: /etc/sysconfig/docker-storage-setup
  owner: root:root
  permissions: '0644'

runcmd:
- systemctl daemon-reload
- systemctl enable lvm2-lvmetad.service docker-storage-setup.service
- systemctl start lvm2-lvmetad.service docker-storage-setup.service

users:
- default

system_info:
  default_user:
    name: openshift

